@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-lime: #c1d75b;
  --color-brown: #846348;
  --color-gray-dark: #262626;
  --color-black: #000000;
}

@theme inline {
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--color-gray-dark);
  color: var(--color-white);
  font-family: var(--font-montserrat), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
